
 <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'  %>
<%= link_to 'Login', new_user_session_path, :class => 'navbar-link'  %>
<h1>Welcome to the OurHipHop Social Network and Marketplace! </h1>

<div>
  <%= link_to 'Sign in with Facebook', facebooklogin_path %>
  <%= link_to 'Sign in with Linkedin', linkedinlogin_path %>
  <%= link_to 'Sign in with Spotify', spotifylogin_path %>
</div>
